body {
    margin: 0;
    padding: 0;
    background-color: #C0C78C !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-box {
    background-color: #FEFAE0;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px #B99470;
    padding: 1.5rem;
}

.btn-box {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.head-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem 0;
    color: #B99470;
}

.head-text i {
    font-size: 1.5rem;
}

.heading {
    text-align: center;
    color: #B99470;
    padding: 1rem 0;
}

.btn-link button {
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1.5rem 0 1.5rem;   
    background-color:#F5F0C9;
    padding: 1rem 1rem 0 1rem;
    border-radius: 1rem;
    width: 90vh;
}

.footer-head {
    color: #996C45;
    padding-bottom: 5px;
}

.footer-text {
    color: #996C45;
    font-size: 1.1rem;
}


@media (max-width : 600px) {
    .footer-head{
        font-size: small;
    }

    .footer{
        padding-top: 0.5rem;
        width: fit-content;
    }
}