body {
    margin: 0;
    padding: 0;
    background-color: #7886C7 !important;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: #2D336B;
}

.head-text i {
    font-size: 1.5rem;
}

.main-box {
    background-color: #FCECEC;
    padding: 1rem;
    height: 73vh;
    width: 55%;
    margin: auto;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 12px #2D336B;
}

.question {
    padding: 0 1rem !important;
    line-height: 2;
}

.options {
    padding: 0.5rem 1.5rem 0.5rem 0;
    font-size: large;
    margin-top: 2rem;
}

.options ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.options ul button {
    padding: 3px 0;
    width: 100%;
    border: none;
    border-radius: 1rem;
    background-color: #A9B5DF;
    color: #2D336B;
}

.high-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    margin-right: 1rem;
}

.green {
    background-color: green !important;
    color: white !important;
}

.red {
    background-color: red !important;
    color: white !important;
}

.display {
    display: none;
}

.option-correct {
    text-align: center;
    width: 100%;
    line-height: 2.1;
}

.correctFlash {
    background-color: #BFFCC6;
    padding: 0.5rem;
    border-radius: 1rem;
}

.goBack {
    text-align: center;
}

.goBackBtn {
    border: none;
    background-color: #2D336B;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    opacity: 0.8;
}

.goBackBtn:hover {
    opacity: 1;
}

@media (max-width : 600px) {
    .main-box {
        width: 80%;
        height: 60%;
    }
    .high-score{
        justify-content: space-between;
    }
    .score-txt {
        font-size: smaller;
    }

    .show-score {
        font-size: small;
    }
    .option-correct{
        padding: 0.5rem;
    }
    .correct-ans{
        font-size: small;
    }
}